<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Today's To-do</title>
    <link rel="icon" href="./img/favicon.ico">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@40,400,1,0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=edit" />
</head>

<body>
<div class="outer_div">
    <div class="header_div">
        <a th:href="@{/totos}" style="text-decoration: none;">
            <span class="material-symbols-outlined" style="font-size:36px; float:left; margin-top:8px; margin-left:8px">chevron_left</span>
        </a>
        <span class="material-symbols-outlined" style="font-size:32px; float:right; margin-top:10px; margin-right:12px">delete</span>
        <h2>[[${totoNm}]]</h2>
    </div>

    <!-- Hidden div to store totoNo data -->
    <div id="toto-data" th:data-toto="${totoNo}"></div>

    <div class="task_table_div">
        <table class="list">
            <colgroup class="col_task">
                <col style="width: 20px">
                <col style="width: 39px">
                <col style="width: 341px">
                <col style="width: 39px">
                <col style="width: 39px">
                <col style="width: 20px">
            </colgroup>

            <thead>
            <tr>
                <th colspan='6' class="th-task">Tasks</th>
            </tr></thead>

            <tbody>
            <!-- 맨 위에 공백 줄 표시 -->
            <tr>
                <td colspan='6' id="tr-none-topbottom"></td>
            </tr>

            <!-- 서버에서 조회한 tasks 데이터를 표시한다. -->
            <tr th:each="task : ${tasks}">
                <td class="tr-none-leftright"></td>
                <td class="tr-taskicons">
                    <label class="checkbox_label">
                        <input type="checkbox" th:disabled="${task.status == 'N'}">
                        <span class="checkbox_icon"></span>
                    </label>
                </td>
                <td class="tr-tasknm" th:text="${task.taskNm}"></td>
                <td class="tr-taskicons">
                    <span class="material-symbols-outlined" id="edit-icon" style="margin-top:8px; visibility:hidden;">edit</span>
                </td>
                <td class="tr-taskicons">
                <span class="material-symbols-outlined"
                    id="close-icon" style="margin-top:8px; visibility:hidden;"
                      th:data-toto-no="${task.totoNo}"
                      th:data-task-no="${task.taskNo}"
                    onclick="deleteTask(this)">close</span>
                </td>
                <td class="tr-none-leftright"></td>
            </tr>

            <!--데이터가 9건 이하일 때는 추가 버튼이 있는 라인을 표시한다.-->
            <tr th:if="${tasks.size() < 10}">
                <td class="tr-none-leftright"></td>
                <td colspan="4" id="addbutton-line">
                    <a th:href="@{/totos/{totoNo}/tasks/new(totoNo=${totoNo})}" id="add-task" style="text-decoration: none;">
                        <span class="material-symbols-outlined" style="font-size:28px; color:#ec5252; display:flex; justify-content:center;">add_circle</span>
                    </a>
                </td>
                <td class="tr-none-leftright"></td>
            </tr>

            <!-- 데이터가 9건 이하일 때 빈줄을 표시 -->
            <tr th:if="${tasks.size() < 10}" th:each="i: ${#numbers.sequence(1, 9 - tasks.size())}">
                <td class="tr-none-leftright"></td>
                <td colspan='4' id="blank-line"></td>
                <td class="tr-none-leftright"></td>
            </tr>

            <!-- 맨 밑에 공백 줄 표시 -->
            <tr>
                <td colspan='6' id="tr-none-topbottom"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
<script type="text/javascript" th:src="@{/js/tasks.js}"></script>

</html>
