<!DOCTYPE html>
<html xmlns:th="http:/www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Today's To-do</title>
    <link rel="icon" href="./img/favicon.ico">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@40,400,1,0" />
</head>
<body>
<div class="outer_div">
    <div class="header_div">
        <h1>Today's To-do List</h1>
    </div>

    <div class="list_table_div">
        <table class="list">
            <colgroup class="col_list">
                <col style="width: 399px">
                <col style="width: 99px">
            </colgroup>

            <thead>
            <tr>
                <th class="th-listnm">Title</th>
                <th class="th-listpg">Progress</th>
            </tr></thead>

            <tbody>
            <!-- 서버에서 조회한 totos 데이터를 표시한다. -->
            <tr th:each="toto : ${totos}">
                <td class="tr-listnm">
                    <a th:href="@{/totos/{no}/tasks(no=${toto.totoNo})}" th:text="${toto.totoNm}" style="text-decoration: none; color: inherit;"></a>
                </td>
                <td class="tr-listpg">0%</td>
            </tr>

            <!--데이터가 9건 이하일 때는 추가 버튼이 있는 라인을 표시한다.-->
            <tr th:if="${totos.size() < 10}">
                <td class="tr-listnm">
                    <a th:href="@{/totos/new}" id="add-task" style="text-decoration: none;">
                        <span class="material-symbols-outlined" style="font-size:28px; color:#ec5252; display:flex; justify-content:center;">add_circle</span>
                    </a>
                </td>
                <td class="tr-listpg"></td>
            </tr>

            <!-- 데이터가 9건 이하일 때 빈줄을 표시 -->
            <tr th:if="${totos.size() < 9}" th:each="i: ${#numbers.sequence(1, 9 - totos.size())}">
                <td class="tr-listnm"></td>
                <td class="tr-listpg"></td>
            </tr>
            <!-- 데이터가 9일 때는 빈줄을 추가하지 않음 -->
            <tr th:unless="${totos.size() < 9}"></tr>

            </tbody>
        </table>
    </div>
</div>

</body>

</html>
