<!DOCTYPE html>
<html xmlns:th="http:/www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<head>
  <link rel="stylesheet" th:href="@{/css/taskForm.css}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@40,400,1,0" />
  <title>할일 추가하기</title>
</head>

<body>
<div layout:fragment="content" class="inputForm">
  <form role="form" method="post" enctype="multipart/form-data" th:object="${taskFormDto}">
      <p class="modal_title">할 일 추가하기</p>
      <input type="text" th:field="*{taskNm}" class="form-control" id="inputBox" placeholder="할 일을 입력하세요">
      <button type="submit" onclick="submitValue()">확인</button>
      <button type="button" onclick="cancelInput()">취소</button>
      <script type="text/javascript" th:src="@{/js/taskform.js}"></script>
      <p class="error_message"></p>
  </form>
</div>
</body>

</html>
