* {
  font-family: "Noto Sans KR", sans-serif;
}

.inputForm {
    background-color: white;
    width: 300px;
    height: 160px;
    border-radius: 20px;
    border: solid 1px #EC5252;
    padding: 20px;
}

.modal_title {
    margin: 10px;
    font-weight: bolder;
}

.inputBoxArea {
  margin: 20px 10px 10px 10px;
}

input[type="text"] {
  width: 90%;
  padding: 10px;
  border: none;
  border-bottom: 1px solid;
  border-width: 1px;
  background-color: #f9f9f9;
  display: block;
}

input:focus {
  outline: none;
  background-color: white;
  border-bottom: 1px solid;
}

button {
  margin-right: 10px;
  cursor: pointer;
  float: right;
  border: none;
  background-color: white;
}

button[type="submit"] {
  color: #EC5252;
}

input[type="text"].error {
  border: 1px solid #EC5252;
  background-color: white;
}

.warning {
  margin: 5px;
  font-size: 12px;
  color: #EC5252;
  visibility: hidden;
}